<header>
  <h1>LOGO</h1>
  <a href="/">HOME</a>
  <a href="/currentWeek">CURRENT</a>
  <a href="/archive">ARCHIVE</a>
  <hr />
  <button class="select-view-button">View Weeks</button>
  <div class="select-view">
    <ul>
      <li><button type="button" class="select-view-close">CLOSE</button></li>
      <li><a href="/">HOME</a></li>
      <br />
      <li><a href="/currentWeek">CURRENT</a></li>
      <br />
      <li><a href="/archive">ARCHIVE</a></li>
      <% yearWeek.forEach((year) => { %> <% if(year === Number(currentWeek)) {
      %>
      <li><a href="/currentWeek"> <%= year %></a></li>
      <% } else { %>
      <li><a href="/targetWeek/<%= year %>"> <%= year %></a></li>

      <% } %> <% }) %>
    </ul>
  </div>
</header>
