<header>
  <div class="logo-container">
    <a class="material-icons" href="/">forest</a>
    <h1><a href="/">Notewood</a></h1>
  </div>
  <nav>
    <button class="material-icons select-view-button">menu</button>
  </nav>
  <div class="select-view">
    <div class="select-view-close">
      <button type="button" class="material-icons select-view-close">
        close
      </button>
    </div>
    <ul>
      <div class="select-view-link">
        <li><a href="/">Home</a></li>
        <li><a href="/currentWeek">Current week</a></li>
        <li><a href="/archive">Archive</a></li>
      </div>
      <h4>Select week</h4>
      <div class="select-view-week">
        <% yearWeek.forEach((year) => { %> <% if(year === Number(currentWeek)) {
        %>

        <li><a href="/currentWeek"><%= year %></a></li>

        <% } else { %>
        <li><a href="/targetWeek/<%= year %>"><%= year %></a></li>
        <% } %> <% }) %>
      </div>
    </ul>
  </div>
</header>
