<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <div class="index">
      <div class="index-container">
        <div class="index-logo-container">
          <a class="material-icons" href="/">forest</a>
          <h1><a href="/">Notewood</a></h1>
        </div>
        <div class="index-link">
          <a href="/currentWeek">Go to CurrentWeek</a>
          <!-- <a href="/currentWeek">Signup placeholder</a> -->
          <!-- <a href="/currentWeek">About</a> -->
        </div>
      </div>
    </div>
  </body>
</html>
