<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notewood</title>
  </head>
  <body>
    <h1>Here should be the week Number</h1>
    <form action="" method="POST">
      <label for="headerInput"></label>
      <input type="text" id="headerInput" name="headerInput" />
      <label for="bodyInput"></label>
      <textarea name="bodyInput" id="bodyInput" cols="30" rows="10"></textarea>
      <button type="submit"></button>
    </form>
  </body>
</html>
