<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <h1>Welcome to notewood</h1>
    <a href="/currentWeek"> get to CurrentWeek</a>
    <br />
    <a href="/currentWeek"> Signup placeholder</a>
    <br />
    <a href="/currentWeek"> guest login placeholder</a>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
