.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% auto;
  width: 600px;
  background-color: steelblue;
  color: #fff;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note-item {
  list-style: none;
  padding: 0;
  display: flex;
}
.note-item li {
  max-width: fit-content;
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
}

.filter-tags {
  margin: 1em;
}
.filter-tags ul {
  list-style: none;
  padding: 0;
  display: flex;
}
.filter-tags ul li {
  margin: 0 1em;
}
.filter-tags ul li label {
  padding: 0.4em 1em;
  border: 1px solid black;
  cursor: pointer;
}
.filter-tags ul li label:hover {
  background: black;
  color: white;
}
.filter-tags ul li input {
  display: none;
}

.active {
  background: black;
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.select-view {
  height: 100%; /* 100% Full-height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.select-view ul li a {
  padding: 8px 8px 32px 32px;
  margin: 1em 0;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: inline-block;
  transition: 0.3s;
}
