header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0 1em;
  z-index: 1;

  .logo-container {
    display: flex;
    align-items: center;
    gap: 1em;

    a {
      text-decoration: none;
      color: #262730;
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      background: none;
      border: none;
      color: #262730;
    }
  }
}

.scroll-border {
  border-bottom: 1px solid black;
}
