header {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  .logo-container {
    display: flex;
    align-items: center;
    gap: 1em;

    a {
      text-decoration: none;
      color: #262730;
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      background: none;
      border: none;
      color: #262730;
    }
  }
}
