.index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;

  .index-container {
    border: 1px solid #262730;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;

    .index-logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;

      a {
        text-decoration: none;
        color: #262730;

        &:active {
          color: #262730;
        }
      }
    }

    .index-link {
      a {
        text-decoration: none;
        color: #262730;
        padding: 0.4em 0.6em;
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        font-weight: bold;
        transition: 0.5s;

        &:hover {
          background: #f1efee;
          color: #262730;
        }

        &:last-child {
          background: #337ea9;
          color: white;
          transition: 0.5s;
          &:hover {
            background: #286487;
          }
        }

        &:active {
          color: #262730;
        }
      }
    }
  }
}
