.detail-note {
  display: flex;
  flex-direction: column;
  padding: 0 2em;

  h3 {
    text-align: center;
  }

  .detail-note-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 0.4em;
    padding-bottom: 1em;
    border-bottom: 1px solid #262730;

    div {
      &:first-child {
        a {
          text-decoration: none;
          color: #262730;
          width: fit-content;
          display: block;
          margin: 0 auto;

          background: #337ea9;
          border: none;
          color: white;
          font-weight: bold;

          padding: 0.2em 0.6em;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background: #286487;
          }
        }
      }

      a,
      button {
        background-color: #f1efee;

        padding: 0.2em;
        cursor: pointer;

        color: #262730;
        transition: 0.3s;
        text-decoration: none;
        text-align: center;
        color: #262730;

        border: none;
        &:hover {
          background-color: #262730;
          color: #f1efee;
        }
      }
    }
  }

  .detail-note-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .detail-note-tags {
    margin: 1em 0 0 0;
    margin-right: auto;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 1em;

      li {
        display: flex;
        flex-flow: row wrap;
        padding: 0.2em 0.6em;
        background: #f1efee;
        color: #262730;
        border: none;
      }
    }
  }
}
