.select-view {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fbfbfa;
  overflow-x: hidden;
  padding-top: 1em;
  transition: 0.5s;

  .select-view-close {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0.4em;
    margin-top: 0.5em;

    button {
      border: none;
      background: none;
      color: black;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 1em;

    .select-view-link {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid black;
      padding-bottom: 1em;
      gap: 0.4em;

      a {
        text-decoration: none;
        color: #37352f;
        font-weight: bold;
        display: inline-block;
        transition: 0.3s;
        padding: 0.1em 0.6em;
        border-radius: 5px;

        &:hover {
          background-color: #e9e8e8;
        }
      }
    }
  }

  h4 {
    margin-top: 1.4em;
  }

  .select-view-week {
    display: flex;
    flex-flow: row wrap;

    li {
      display: flex;
      justify-content: center;
      margin: 0.2em 0.2em 1em;
      width: 20%;

      a {
        text-decoration: none;
        color: #37352f;
        font-weight: bold;
        display: inline-block;
        padding: 0.4em;
        transition: 0.3s;
        border-radius: 5px;

        &:hover {
          background-color: #e9e8e8;
        }
      }
    }
  }
}
