.filter-tags {
  margin: 1em;
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    li {
      margin: 0 1em;
      label {
        padding: 0.4em 1em;
        border: 1px solid #262730;
        cursor: pointer;
        border-radius: 5px;
        color: #262730;
        transition: 0.3s;
        &:hover {
          background-color: #262730;
          color: #f1efee;
        }
      }

      input {
        display: none;
      }
    }
  }
}

.active {
  background: black;
  color: white;
}
