.filter-tags {
  margin: 1em;
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    li {
      margin: 0 1em;
      label {
        padding: 0.4em 1em;
        border: 1px solid black;
        cursor: pointer;

        &:hover {
          background: black;
          color: white;
        }
      }

      input {
        display: none;
      }
    }
  }
}
