@use "../config/breakpoints";

.note-section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  .note-item {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .single-note-heading {
      margin-right: 2em;
      span {
        font-weight: bold;
      }
    }

    @include breakpoints.desktop {
      flex-flow: row wrap;
    }

    .single-note {
      // background-color: #fcfbf7;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      border-radius: 5px;
      margin: 1em;
      padding: 1em;
      position: relative;

      @include breakpoints.desktop {
        max-width: fit-content;
      }

      .note-delete {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #f1efee;
        border-radius: 5px;
        padding: 0.2em;
        margin: 0.2em 0.2em 0.2em 1em;
        color: #262730;
        transition: 0.3s;
        &:hover {
          background-color: #262730;
          color: #f1efee;
        }
      }
    }

    .note-tags {
      margin: 1em 0;

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1em;

        li {
          display: flex;
          flex-flow: row wrap;
          padding: 0.2em 0.6em;

          background: #f1efee;
          color: #262730;
          border: 1px solid black;
          border-radius: 5px;
          border: none;
        }
      }
    }

    a {
      text-decoration: none;
      text-align: center;
      color: #262730;
      border: 1px solid black;
      border-radius: 5px;
      border: none;
    }

    .goto-note {
      color: #262730;
      width: fit-content;
      display: block;
      margin: 0 auto;

      background: #337ea9;
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      padding: 0.2em 0.6em;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 1em;

      &:hover {
        background: #286487;
      }
    }

    .archive-week {
      display: flex;
      justify-content: flex-start;
    }
  }
}
