@use "../config/breakpoints";

.note-section {
  .note-item {
    margin: 0;
    padding: 0;
    list-style: none;

    padding: 0 2em;
    display: flex;
    flex-direction: column;

    .single-note-heading {
      margin-right: 2em;
      span {
        font-weight: bold;
      }
    }

    @include breakpoints.desktop {
      width: 100%;
    }

    .single-note {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      display: flex;
      flex-direction: column;

      margin: 0 0 1em 0;
      padding: 1em;
      position: relative;
      transition: box-shadow 0.3s;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
          rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      }

      .single-note-heading {
        span {
          margin: 0.2em 1em 0.2em 0.2em;
        }
      }

      .note-delete {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #f1efee;

        padding: 0.2em;
        margin: 0.2em 0.2em 0.2em 1em;
        color: #262730;
        transition: box-shadow 0.3s;
        &:hover {
          background-color: #262730;
          color: #f1efee;
        }
      }
    }

    .note-tags {
      margin: 1em 0;

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 0.2em;

        li {
          display: flex;
          flex-flow: row wrap;
          padding: 0.2em 0.6em;

          background: #f1efee;
          color: #262730;

          border: none;
        }
      }
    }

    a {
      text-decoration: none;
      text-align: center;
      color: #262730;

      border: none;
    }

    .goto-note {
      color: #262730;
      width: fit-content;
      display: block;
      margin-right: auto;

      background: #337ea9;
      border: none;
      color: white;
      font-weight: bold;

      padding: 0.2em 0.6em;
      cursor: pointer;
      transition: box-shadow 0.3s;

      &:hover {
        background: #286487;
      }
    }

    .archive-week {
      display: flex;
      justify-content: flex-start;
    }
  }
}
