.filter-tags {
  border: none;
  border-bottom: 1px solid #e5e5e5;

  legend {
    padding: 1em;
    font-weight: bold;
  }
  ul {
    li {
      display: flex;
      flex-flow: row wrap;
      gap: 1em;

      label {
        background: none;
        border: 1px solid #262730;
        padding: 0.2em 1em;

        color: #262730;
      }
    }
  }
}
