.filter-tags {
  margin: 1em;
  border: none;

  legend {
    padding: 1em;
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    li {
      display: flex;
      flex-flow: row wrap;
      gap: 0.2em;
      label {
        padding: 0.2em 1em;
        border: 1px solid #262730;
        cursor: pointer;

        color: #262730;

        transition: 0.3s;
        &:hover {
          background-color: #262730;
          color: #f1efee;
        }
      }

      input {
        display: none;
      }
    }
  }
}

.active {
  background: black;
  color: white;
}
